a{
    text-decoration: none;
}

.app{
    padding-left: 60px;
    padding-right: 60px;
}
.cocktail{
    margin-bottom: 100px;
}
.cocktailNavigationLink{
    background-color: purple;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0px;
    color: white;
    transition: .4s;
}
.cocktailNavigationLink:hover{
    background-color: pink;
    transition: .4s;
}
.cocktailDetails{
    background-color: pink;
    border-radius: 10px;
    border: 0px none transparent;
    padding: 10px 50px;
    margin: 10px 0px;
}
.cocktailSlika{
    width: auto;
    height: 100px;
}