body{
    background-color: hotpink;
}
a{
    text-decoration: none;
}
.app{
    padding-left: 60px;
    padding-right: 60px;
}
.cocktail{
    margin-bottom: 100px;
}
.cocktailNavigationLink{
    background-color: rgba(255, 255, 255, .6);
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0px;
    transition: .4s;
}
.cocktailNavigationLink:hover{
    background-color: white;
    color: #333;
    font-weight: 800;
    font-size: 2em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
    transition: .4s;
    transform: scale(1.02);
    padding-left: 40px;
}
.cocktailSearch{
    background-color: greenyellow;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0px;
}
.cocktailDetails{
    background-color: pink;
    border-radius: 10px;
    border: 0px none transparent;
    padding: 10px 50px;
    margin: 10px 0px;
}
.cocktailSlika{
    width: auto;
    height: 100px;
}